INHERIT: mkdocs-base.yml
plugins:
  - search
nav:
  - Overview: index.md
  - Get Started:
    - get-started/installation.md
    - get-started/basic-usage.md
    - get-started/experiment-tracking.md
    - get-started/examples.md
    - get-started/benchmark-utility.md
    - get-started/zoo.md
  - RL Algorithms:
    - rl-algorithms/overview.md
    - rl-algorithms/ppo.md
    - rl-algorithms/dqn.md
    - rl-algorithms/c51.md
    - rl-algorithms/ddpg.md
    - rl-algorithms/sac.md
    - rl-algorithms/td3.md
    - rl-algorithms/ppg.md
    - rl-algorithms/ppo-rnd.md
    - rl-algorithms/rpo.md
  - Advanced:
    - advanced/hyperparameter-tuning.md
    - advanced/resume-training.md
  - Community:
    - contribution.md
    - cleanrl-supported-papers-projects.md
  - Cloud Integration: 
    - cloud/installation.md
    - cloud/submit-experiments.md
