site_name: CleanRL
theme:
  name: material
  features:
    # - navigation.instant
    - navigation.tracking
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
  palette:
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      primary: teal
      accent: light green
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)" 
      scheme: default
      primary: green
      accent: deep orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
plugins:
  - search
nav:
  - Overview: index.md
  - Get Started:
    - get-started/installation.md
    - get-started/basic-usage.md
    - get-started/experiment-tracking.md
    - get-started/examples.md
    - get-started/benchmark-utility.md
    - get-started/zoo.md
  - RL Algorithms:
    - rl-algorithms/overview.md
    - rl-algorithms/ppo.md
    - rl-algorithms/dqn.md
    - rl-algorithms/c51.md
    - rl-algorithms/ddpg.md
    - rl-algorithms/sac.md
    - rl-algorithms/td3.md
    - rl-algorithms/ppg.md
    - rl-algorithms/ppo-rnd.md
    - rl-algorithms/rpo.md
    - rl-algorithms/qdagger.md
    - rl-algorithms/ppo-trxl.md
  - Advanced:
    - advanced/hyperparameter-tuning.md
    - advanced/resume-training.md
  - Community:
    - contribution.md
    - cleanrl-supported-papers-projects.md
  - Cloud Integration: 
    - cloud/installation.md
    - cloud/submit-experiments.md
#adding git repo
repo_url: https://github.com/vwxyzjn/cleanrl
repo_name: vwxyzjn/cleanrl
#markdown_extensions 
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - abbr
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - footnotes
  - markdown_include.include:
      base_path: docs
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  # - toc:
  #     permalink: true
  # - markdown.extensions.codehilite:
  #     guess_lang: false
  # - admonition
  # - codehilite
  # - extra
  # - pymdownx.superfences:
  #     custom_fences:
  #     - name: mermaid
  #       class: mermaid
  #       format: !!python/name:pymdownx.superfences.fence_code_format ''
  # - pymdownx.tabbed
extra_css:
  - stylesheets/extra.css
# extra_javascript:
#   - js/termynal.js
#   - js/custom.js
#footer
extra:
  social:
    - icon: fontawesome/solid/envelope
      link: mailto:costa.huang@outlook.com
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/vwxyzjn
    - icon: fontawesome/brands/github
      link: https://github.com/vwxyzjn/cleanrl
copyright: Copyright &copy; 2021, CleanRL. All rights reserved.
extra_javascript:
#   - javascripts/mathjax.js
#   - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
