[tool.poetry]
name = "cleanrl"
version = "1.0.0b2"
description = "High-quality single file implementation of Deep Reinforcement Learning algorithms with research-friendly features"
authors = ["Costa Huang <costa.huang@outlook.com>"]
include = ["cleanrl_utils"]
keywords = ["reinforcement", "machine", "learning", "research"]
license="MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
tensorboard = "^2.10.0"
wandb = "^0.13.3"
gym = "^0.26.1"
torch = "^1.12.1"
stable-baselines3 = "1.2.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"

[tool.poetry.group.atari]
optional = true
[tool.poetry.group.atari.dependencies]
ale-py = "0.7.4"
AutoROM = {extras = ["accept-rom-license"], version = "^0.4.2"}
opencv-python = "^4.6.0.66"

[tool.poetry.group.procgen]
optional = true
[tool.poetry.group.procgen.dependencies]
procgen = "^0.10.7"

[tool.poetry.group.pytest]
optional = true
[tool.poetry.group.pytest.dependencies]
pytest = "^7.1.3"

[tool.poetry.group.mujoco]
optional = true
[tool.poetry.group.mujoco.dependencies]
mujoco = "^2.2.2"

[tool.poetry.group.docs]
optional = true
[tool.poetry.group.docs.dependencies]
mkdocs-material = "^8.4.3"
markdown-include = "^0.7.0"

[tool.poetry.group.jax]
optional = true
[tool.poetry.group.jax.dependencies]
jax = "^0.3.17"
jaxlib = "^0.3.15"
flax = "^0.6.0"

[tool.poetry.group.optuna]
optional = true
[tool.poetry.group.optuna.dependencies]
optuna = "^3.0.1"
optuna-dashboard = "^0.7.2"
rich = "<12.0"

[tool.poetry.group.envpool]
optional = true
[tool.poetry.group.envpool.dependencies]
envpool = "^0.6.4"

[tool.poetry.group.pettingzoo]
optional = true
[tool.poetry.group.pettingzoo.dependencies]
PettingZoo = "1.18.1"
SuperSuit = "3.4.0"
multi-agent-ale-py = "0.1.11"


[tool.poetry.group.cloud]
optional = true
[tool.poetry.group.cloud.dependencies]
boto3 = "^1.24.70"
awscli = "^1.25.71"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
