[tool.poetry]
name = "cleanrl"
version = "0.5.0"
description = "High-quality single file implementation of Deep Reinforcement Learning algorithms with research-friendly features"
authors = ["Costa Huang <costa.huang@outlook.com>"]

[tool.poetry.dependencies]
python = ">=3.8.0,<3.10"
torch = "^1.9.0"
tensorboard = "^2.5.0"
wandb = "^0.12.1"
pyglet = "^1.5.19"
opencv-python = "^4.5.3"
gym = "^0.21.0"

# Optinal dependencies
stable-baselines3 = {version = "^1.1.0", optional = true}
ale-py = {version = "^0.7", optional = true}
AutoROM = {version = "^0.4.2", optional = true, extras = ["accept-rom-license"]}
pybullet = {version = "^3.1.8", optional = true}
procgen = {version = "^0.10.4", optional = true}
pettingzoo = {version = "^1.11.2", optional = true}
pygame = {version = "^2.0.1", optional = true}
pymunk = {version = "^6.2.0", optional = true}
pandas = {version = "^1.3.3", optional = true}
seaborn = {version = "^0.11.2", optional = true}
boto3 = {version = "^1.18.57", optional = true}
awscli = {version = "^1.20.57", optional = true}

[tool.poetry.dev-dependencies]
spyder = "^5.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
atari = ["ale-py", "AutoROM", "stable-baselines3"]
pybullet = ["pybullet"]
procgen = ["procgen", "stable-baselines3"]
pettingzoo = ["pettingzoo", "stable-baselines3", "pygame", "pymunk"]
plot = ["pandas", "seaborn"]
cloud = ["boto3", "awscli"]
