name: utils_test
on:
  pull_request:
    paths-ignore:
      - '**/README.md'
      - 'docs/**/*'
      - 'cloud/**/*'
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        poetry-version: ["1.7"]
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Install test dependencies
        run: poetry install -E pytest
      - name: Install cloud dependencies
        run: poetry install -E "pytest cloud"
      - name: Downgrade setuptools
        run: poetry run pip install setuptools==59.5.0
      - name: Run utils tests
        run: poetry run pytest tests/test_utils.py
